
@{
    ViewData["Title"] = "AttendanceRegistry";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<style>
    registryBtn {
        margin-top: 50px;
    }
</style>
<div class="container">


    <div class="row justify-content-sm-center">
        <div id="registers" class="table col-sm-6">
            <table class="table-primary table-borderless table-light table-striped">
                <thead class="table-primary">

                    <tr>
                        <th>Register Name</th>
                        <th></th>
                        <th>Cause for Concern</th>
                        <th># Of Sessions</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>COMP 1220</td>
                        <td class="select">
                            <select class="UrlList" onchange="doNavigate()">
                                <option value="@Url.Action("Index")">View Attendance</option>
                                <option value="AttendanceRegistry.cshtml">Edit</option>
                                <option value="Login">Delete</option>
                            </select>
                        </td>
                        <td>-</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>MATH 101</td>
                        <td>
                            <select class="UrlList" onchange="doNavigate()">
                                <option value="@Url.Action("Index")">View Attendance</option>
                                <option value="@Url.Action("Index")">Edit</option>
                                <option value="@Url.Action("Index")">Delete</option>
                            </select>
                        </td>
                        <td>>50%</td>
                        <td>25</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-3 ">
        <div class="row">
            <a  asp-area="" asp-controller="Home" asp-action="AddRegistry" id="registryBtn" class="btn btn-primary">New Registry</a>
        </div>
        <div class="row">
            <div class="bs-example">
                <div class="popover-demo mb-2">
                    <button type="button" class="btn btn-info" data-toggle="popover" title="What are attendance registers?"
                            data-content="Attendance registers are entries that you create to track attendance for activites in your orginization
                of course. For example, you can create attendance registers to track attendance for mandatory
                sessions, weekly seminars or meetings. Use Registers to define the sessions,
                attendance expectations and applicable users and enter data as you complete each session.
                Click a registers name to view or make changes to its attendance data.">
                        What are attendance registers?
                    </button>
                </div>
            </div>
        </div>
        <div class="row"></div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({
                placement: 'top'
            });
        });
    </script>

    <script>
        function doNavigate() {
            window.location.href = document.querySelectorAll(".UrlList").value;
        }
    </script>

</div>