@model AttendanceApplication.Models.UserModel
@using static AttendanceApplication.Controllers.HomeController
@{
    ViewData["Title"] = "Login";
}
<script>
    document.querySelector(".logout").style.display = "none";
</script>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h1 class="card-title text-center">Login</h1>
                    <form method="post" class="form-signin">
                        <div class="form-label-group">
                            <span asp-validation-for="Email" style="color:red"></span>
                            <input asp-for="Email" type="email" id="inputEmail" class="form-control" placeholder="Email address" autofocus>
                            <label for="inputEmail">Email address</label>
                        </div>

                        <div class="form-label-group">
                            <span asp-validation-for="Password" style="color:red"></span>
                            <input asp-for="Password" type="password" id="inputPassword" class="form-control" placeholder="Password">
                            <label asp-for="Password" for="inputPassword">Password</label>
                        </div>
                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Remember password</label>
                        </div>
                        <div>

                            <span style="color:red">@Message</span>

                        </div>
                        <button class="btn btn-lg btn-primary" asp-action="Login" type="submit">Sign in</button>
                        <a class="btn btn-lg btn-primary" asp-action="Register">Register</a>
                        <div>
                            <a asp-action="PassReset">Fogot your password!?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>