
@{
    ViewData["Title"] = "Schemes";
}

@using static AttendanceApplication.Controllers.HomeController
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



<div class="container">


    <h1>Attendance Schemes</h1>
    <div class="row">
        <div id="registers" class="table col-sm-6">
            <table class="table-primary table-borderless table-light table-striped">
                <thead class="table-primary">

                    <tr>
                        <th>Scheme Name</th>
                        <th></th>
                        <th>Default Scheme</th>

                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>COMP 1220</td>
                        <td class="select">
                            <select class="UrlList" onchange="doNavigate()">
                                <option value="">View in new window</option>
                                <option value="">Copy</option>
                            </select>
                        </td>
                        <td>Current Default</td>
                    </tr>
                    <tr>
                        <td>MATH 101</td>
                        <td class="select">
                            <select class="UrlList" onchange="doNavigate()">
                                <option value="">View in new window</option>
                                <option value="">Copy</option>
                            </select>
                        </td>
                        <td><a href="" class="btn btn-light">Set as Default</a></td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-3 ">
            <div class="row">
                <a asp-area="" asp-controller="Home" asp-action="AddSchemes" id="registryBtn" class="btn btn-primary">New Scheme</a>
            </div>
            <div class="row">
                <div class="bs-example">
                    <div class="popover-demo mb-2">
                        <button type="button" class="btn btn-info" data-toggle="popover" title="What are attendance schemes?"
                                data-content="Attendance schemes provide the criteria for marking attendance in a register Each attendance register uses one attendance scheme, which you assign when creating a new register. The register defines the applicable users and sessions, and the attendance scheme defines the attendance statuses that you can give to users for each session
                                For example, a simple attendance scheme defines two possible attendance statuses present and absent. If you were to apply this scheme to an attendance register, you would have two options for marking attendance for the register's sessions. Users that attend a session would be marked as present and users that do not attend would be marked as absent
                                You can create more complex schemes that define more statuses such as late and authorized absent. This provides flexibility to accommodate a wide range of attendance options.
                                ">
                            What are attendance Schemes?
                        </button>
                    </div>
                </div>
            </div>
            <div class="row"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-success">
            @Message
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({
                placement: 'top'
            });
        });
    </script>

</div>