@model AttendanceApplication.Models.RegisterModel

@{
    ViewData["Title"] = "test";
}

<h1>test</h1>

<h4>RegisterModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="test">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttendDanceScheme" class="control-label"></label>
                <input asp-for="AttendDanceScheme" class="form-control" />
                <span asp-validation-for="AttendDanceScheme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionName" class="control-label"></label>
                <input asp-for="SessionName" class="form-control" />
                <span asp-validation-for="SessionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionDescription" class="control-label"></label>
                <input asp-for="SessionDescription" class="form-control" />
                <span asp-validation-for="SessionDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order" class="control-label"></label>
                <input asp-for="Order" class="form-control" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

